[access "refs/*"]
        owner = group android_device_realme_RMX3241
                label-Verified = -1..+1 group android_device_realme_RMX3241
[receive]
        requireChangeId = true
	requireSignedOffBy = true
	requireSignedPush = true
[submit]
        mergeContent = true
        action = rebase if necessary
[change]
	workInProgressByDefault = true
[project]
	description = Unified for Realme 8 5G and realme Narzo 30 5G
